@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    font-family: 'Varela Round', sans-serif;

}

.container{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: auto;
    background-color: blueviolet;
    color: aliceblue;
    text-align: center;
}


table, td, th{
    border: 3px solid blueviolet;   
}

table{
    border-collapse: collapse;
    background-color: aliceblue;
    color: blueviolet;
}
